.col-cart-table__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid gray;
}

.cart-table__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid gray;
}

.cart-table__content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}


.cart-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 0;
}

.cart-table__content-img {
    width: 10% !important;
}

.cart-table__content-img img {
    width: 100%;
}

.cart-checkout-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    width: 20%;
}

.cart-checkout__subtotal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.cart-checkout__subtotal > h5 {
    margin-right: 10px;
}


.form-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.form-contact > h5 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #00df7b;
}

.form-contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
