.container {
    width: 100%;
    margin: 40px;
    align-items: center;
}

h4 {
    color: #5100ff;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
}