.Menu {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-bottom: 1px solid rgb(207, 207, 207);
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

ul li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

li:hover {
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: #5100ff;
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) !important;
} 