.Menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    background-color: rgb(238, 238, 238);
    color: black;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul li {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}