.Menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    background-color: rgb(238, 238, 238);
    color: black;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul li {
    list-style-type: none;
}

li:hover {
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgb(0, 55, 255);
}